<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace = "base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section class="banner">
    <div class="text-center">
        <h1 class="font-weight-bold">Contact Web Manager</h1>
        <h5>We provide the best technical solutions for IT-related problems</h5>
        <p>Around 200+ trusted partner</p>
        <button class="btn bg-primary btn-lg text-white">Get Started</button>
    </div>
</section>
</body>
</html>